<form action="{{ formAction }}" method="post">
    <p class="">
        <a href="/">View all todo</a>
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <input type="text" name="title" class="form-control" placeholder="Title">
        </div>
        <div class="panel-body">
            <textarea name="text" rows="3" class="form-control" placeholder="Text"></textarea>
        </div>
        <div class="panel-footer text-right">
            <input type="color" name="color" class="btn btn-default" style="height: 34px;">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>
