<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style1.css') }}">
	<script src="{{url_for('static',filename='main.js')}}"></script>
	<style>
	.hidden{
	display: none;
}
</style>
</head>
<body>
<div id="loginform" class="hidden">
<div class="login-page111">
	<div class="form111">
	<h1 text-align="right">TA PORTAL</h1>
	<form class="login-form111">
	<input type="email" id="email1" name="email" placeholder="Email Address"><br/>
	<input type="Password" id="pass1" name="password" placeholder="PASSWORD"></br>
	<button type ="button" id="button1">Login</button>
	<p class="message">Not Registered?			
	<button type="button" id="button2a">Register for Student</button><br />
	<button type="button" id="button2b">Register for Faculty</button><br />
	<button type="button" id="button2c">Register for Admin</button>
	</p>
	</form>
	</div>
</div>
</div>
<div id="register_student" class="hidden">
<div class="login-page111">
	<div class="register-form111">
	<div class="form111">
		<h2>STUDENT REGISTRATION FORM</h2>
		Roll:<input type="text" name ="roll" id="roll2"placeholder="Roll Number"/><br/>
		Name:<input type="text" name ="name" id="name2"placeholder="Full Name"/><br/>
		Email:<input type="email" name ="email" id="email2" placeholder="Email Address"/><br/>  
		Password:<input type="password" name="password" id="pass2" placeholder="PASSWORD"/><br/>
		Year:<input type="text" name ="year" id="year2" placeholder="YEAR"/> <br/>
		CGPA:<input type="float" name ="CGPA" id="cgpa2" placeholder="YOUR CGPA"/><br/>  
		
		Course_Priority1:<select id="lcourses1" name="Course_priority1" placeholder="select a course"></select><br/>
		Course_Priority2:<select id="lcourses2" name="Course_priority2" placeholder="select a course"></select><br/>
		Course_Priority3:<select id="lcourses3" name="Course_priority3" placeholder="select a course"></select><br/>
		<button type="button" id="button3">Submit</button>
	</div>
	</div>
</div>	
</div>
<div id="register_faculty" class="hidden">
<div class="login-page111">
	<div class="register-form111">
	<div class="form111">
		<h2>FACULTY REGISTRATION FORM</h2>
		Name:<input type="text" name="name" id="name3" placeholder="Name"><br/>
		Email:<input type="email" name="email" id="email3"  placeholder="EMAIL"><br/>
		Password:<input type="password" name="password" id="pass3"  placeholder="PASSWORD"><br/>
		Faculty_id:<input type="text" name="Faculty_id" id="fac_id3"  placeholder="FACULTY ID"><br/>
		Course_id:<input type="text" name="Course_id" id="cou_id3" placeholder="COURSE ID"><br/>
		Course_name:<input type="text" name="Course_name" id="cou_name3" placeholder="COURSE NAME"><br/>
		Course_description:<input type='text' name="Course_description" id="cou_des3" placeholder="COURSE DESCRIPTION"><br/>
		<button type="button" id="button4">Submit</button>
	</div>
	</div>
</div>
</div>
<div id='register_admin' class='hidden'>
<form><div class="login-page111">
<div class="form111">
<h2>ADMIN REGISTRATION FORM</h2>
Name:<input type='text' id='name_admin' value=''><br/>
Email:<input type='text' id='email_admin' value=''><br/>
Password:<input type='password' id='pass_admin' value=''><br/>
<button type='button' id='button_admin'>Submit</button> 
</div></div> 
</form>
</div>	

<div id="student_profile" class="hidden">
<div>
<label style="align:right">
<button type='button' id='logoutS' onclick='logoutStudent11()' style="float: right;">Logout</button>
</label>
<br/>
</div>
<h2><span class="blue">NAME:</span><span class="yellow" id="names"></span></h2>
<h2><span class="blue">ROLL NO:</span><span class="yellow" id="rolls"></span></h2>
<h2><span class="blue">YEAR:</span><span class="yellow" id="years"></span></h2>
<table class="container">
<thead>
<tr>
<th><h1>Course Priority</h1></th>
<th><h1>Name Of The Course</h1></th>
<th><h1>Status</h1></th>
<th><h1>Your Decision</h1></th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td id="priorty1s"></td>
<td id="status1s" value="">not nominated</td>
<td><button type="button" id="btn2" disabled>lock</button></td>
</tr>
<tr>
<td>2</td>
<td id="priorty2s"></td>
<td id="status2s" value=''>not nominated</td>
<td><button type="button" id="btn22" disabled>lock</button></td>
</tr>
<tr>
<td>3</td>
<td id="priorty3s"></td>
<td id="status3s" value=''>not nominated</td>
<td><button type="button" id="btn222" disabled>lock</button></td>
</tr>
</tbody>
</table>
<h2 id="dropN" value=""></h2>
<button type='button' id="drop">Drop from Nomination</button>
</div>
<div id="faculty_profile" class="hidden">
<div>
<label style="align:right">
<button type='button' id='logoutF' onclick='logoutFaculty11()' style="float: right;">Logout</button>
</label>
<br/>
</div><h3><div class="form111">
<span class="blue">FACULTY NAME:</span><span class="yellow" id="name4"></span><br />
<span class="blue">FACULTY ID:</span><span class="yellow" id="fac_id4"> </span><br />
<span class="blue">COURSE ID:</span><span class="yellow" id="cou_id4"> </span><br />
<span class="blue">COURSE NAME:</span><span class="yellow" id="cou_name4"> </span><br />
<span class="blue">COURSE DESCRIPTION:</span><span class="yellow" id="cou_des4"></span></div></h3>
<table class="container">
<thead>
<tr>
<th><h1>Student Name</h1></th>
<th><h1>CGPA</h1></th>
<th><h1>PRIORITY OF COURSE</h1></th>	
<th><h1>YOUR CHOICE</h1></th>
</tr>
</thead>
<tbody id="dataS">
<tr>
<td>1</td>
<td>
STUDENT NAME OR ROLL NO:
</td><td>
<input type="checkbox">
</td>
</tr>
</tbody>
</table>
<h1>
<button type="button" id="button6" disabled>Submit</button>
</h1>
</div>
<div id='admin_profile' class='hidden'>
<form>
List of Courses and Corresponding Students nominated:<br/>
<button type='button' onclick='logoutadmin()' style="float: right;">Logout</button>
<br/>
<p id='dataSC' value=''></p>
<button type="button" id="button_ta">Submit</button>
</form>
</div>
</div>
</body>
</html>
